
<h1>Wallet</h1>
<p>Balance: <%= wallet?.balance %></p>
<form method="put" action="/:userId">
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" />
    <button type="submit">Add Money</button>
</form>